{:source-paths ["src"]
 :dependencies [[binaryage/devtools "1.0.6"]
                [nrepl "0.9.0"]
                [reagent "1.1.1"]
                [rgm/tailwind-hiccup "0.2.0"]
                [cljs-http "0.1.46"]]
 :builds       {:app {:target     :browser
                      :closure-defines {flexiana.takehome-task-front.client/backend-uri "http://localhost:3000"}
                      :output-dir "public/js"
                      :asset-path "/js"
                      :modules    {:app {:entries [flexiana.takehome-task-front.core]}}
                      :devtools   {:after-load flexiana.takehome-task-front.core/mount-root}}}

 :dev-http     {3001 {:root    "public"
                      :handler user/app}}}
